R1_extended/BlueVa-main/BlueVa-main/src/demo/XML/xmlScheme.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="package">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="class">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="field">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required" />
									<xs:attribute name="type" type="xs:string" use="required" />
									<xs:attribute name="value" type="xs:string" use="required" />
									<xs:attribute name="accmod" type="xs:string" use="required" />
									<xs:attribute name="naccmod" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="method">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required" />
									<xs:attribute name="input" type="xs:string" use="required" />
									<xs:attribute name="output" type="xs:string" use="required" />
									<xs:attribute name="id" type="xs:string" use="required" />
									<xs:attribute name="accmod" type="xs:string" use="required" />
									<xs:attribute name="naccmod" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required" />
						<xs:attribute name="extends" type="xs:string" use="required" />
						<xs:attribute name="implements" type="xs:string" use="required" />
						<xs:attribute name="accmod" type="xs:string" use="required" />
						<xs:attribute name="naccmod" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="interface">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="method">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required" />
									<xs:attribute name="input" type="xs:string" use="required" />
									<xs:attribute name="output" type="xs:string" use="required" />
									<xs:attribute name="id" type="xs:string" use="required" />
									<xs:attribute name="accmod" type="xs:string" use="required" />
									<xs:attribute name="naccmod" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required" />
						<xs:attribute name="implements" type="xs:string" use="required" />
						<xs:attribute name="accmod" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="enums">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="value">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required" />
									<xs:attribute name="value" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required" />
						<xs:attribute name="accmod" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>